n<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169386346-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169386346-1');
    </script>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#839C92">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <img src="https://NUTRIOMEworkshop1.github.io/images/nutriome.png" alt="NUTRIOME logo" style="width: 80px; height: auto;">
      <h1>NUTRIOME workshop</h1>
      <h2 class="project-tagline">Large-scale data handling and using tools to visualise multi-layered data from meal studies</h2>
      <a href="https://NUTRIOMEworkshop1.github.io/pages/program.md" class="btn">Program</a>
      <a href="https://NUTRIOMEworkshop1.github.io/pages/tutorials" class="btn">Tutorials</a>
      <a href="https://NUTRIOMEworkshop1.github.io/pages/literature" class="btn">Linterature</a>
      <a href="https://NUTRIOMEworkshop1er.github.io/pages/contact" class="btn">Contact</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <!--<span class="site-footer-owner">--><a href="https://github.com/susancoort/NUTRIOMEworkshop1.github.io">NUTRIOME workshop1</a> is developed by the department of Bioinformatics-BiGCaT and the Maastricht Centre for Systems Biology (MaCSBio) at Maastricht University (NL).<!--</span>-->
      </footer>
    </main>
  </body>
</html>
